{% extends 'layouts/layout.html' %}

{% block title %} {{article.title}} {% endblock title %}

{% block content %}
    <article class="content">
        <h1 class="title">{{article.title}}</h1>

        <p class="date"><small>{{article.created_at}}</small></p>

        {% if article.image != 'null' %}
            <div class="image">
                <img src="{{article.image.url}}" alt="{{article.title}}"/>
            </div>
        {% endif %}

        {{article.content|safe}}
    </article>
{% endblock content %}